.logo-encabezado{
    background-color:green; 
    color:white
}

.navbar-encabezado{
    background-color: #42972D;
}

.aside-encabezado{
    background-color: #222d32;
}
.span-encabezado{
    color: white;
    font-size: 20px;
}