
<div class="container">
  <br/>
  <br/>
  <div class="row" >
    <div class="col-4" style="text-align: right;">
      Search by Keyword or title
    </div>
    <div class="col-6" >
        <input type="text" style="width: 500px;"  id="search" placeholder="Search in my library">
    </div>
    <div class="col-2">
        <button type="button" class="btn btn-success">Search</button>
    </div>
  </div>
<mat-card class="example-card card-articulo">
  <mat-card-header>
    
    <mat-card-title style="font-size: 15px; width: 324px;margin-left: -15px;"><b>Flow parsing and heading perception show similar dependence on quality and quantity of topic flow</b>
    <br/>
    <br/>
      <p> <b>Authors: </b> <span> Andrew JFoulkes, Simon K.</span> </p>
    </mat-card-title>
  </mat-card-header>
 <hr> 
  <mat-card-content>
     <p><b>Category:</b><span>Telecomunication</span></p>
    
     <hr>
     <p><b>Languajes:</b><span>EN</span></p>
     <hr>
     <p><b>Year of Publication:</b><span>2013</span></p>
  </mat-card-content>
  <hr>
  <mat-card-actions>
    <button mat-raised-button color="primary">See</button>
    <button mat-stroked-button color="warn">Delete</button>
  </mat-card-actions>
</mat-card>
</div>
