<div class="container">
  <br/>
  <br/>
  <form>
    <div class="row">
      <div class="col-2">
        <label><b>Title</b></label>
      </div>
      <div class="col-6">
        <input type="text" style='width: 700px;'>
      </div>
    </div>
    <div class="row" style="margin-top: 25px;"> 
      <div class="col-2">
        <label><b>Country</b></label>
      </div>
      <div class="col-6">
        <input type="text"  style='width: 700px;'>
      </div>
    </div>
    <div class="row" style="margin-top: 25px;">
      <div class="col-2">
        <label><b>Number</b></label>
      </div>
      <div class="col-6">
        <input type="text"  style='width: 700px;'>
      </div>
    </div>
    <div class="row" style="margin-top: 25px;">
      <div class="col-2">
        <label><b>Volume</b></label>
      </div>
      <div class="col-6">
        <input type="text"  style='width: 700px;'>
      </div>
    </div>
    <div class="row" style="margin-top: 25px;">
      <div class="col-2">
        <label><b>Date</b></label>
      </div>
      <div class="col-6">
        <input type="text"  style='width: 700px;'>
      </div>
    </div>
    <div class="row" style="margin-top: 25px;">
      <div class="col-2">
        <label><b>Abstarct</b></label>
      </div>
      <div class="col-6">
        <input type="text"  style='width: 700px;'>
      </div>
    </div>
  </form>
</div>