<div class="container">
  <br/>
  <br/>
      <div class="row" style="text-align: center">
        <div class="col">
          <label for="searchDoaj">Busqueda DOAJ</label>
        </div>
      </div>
      <div class="row"  >
        <div class="col">
      <input type="text" style="width: 450px;margin-left: 329px;" class="form-control" id="searchDoaj" aria-describedby="searchDoaj" placeholder=""
      [(ngModel)]='txtIngresado'>
    </div>
    <div class="col">
        <button  class="btn btn-primary" (click)="buscarDoaj(txtIngresado)">Search DOAJ</button>
    </div>
    </div>
    <div class="container" *ngFor="let result of resultadosDoajArray" style="background: white">
      <div class="row">
        <div class="col-3">
          <b>Title</b>
        </div>
        <div class="col-9">
            <p>{{result.bibjson.title}}</p>
          </div>
      </div>
    </div>
</div>